version: 2
jobs:
  check_link:
    docker:
      - image: kjhman21/klaytn-docs-dev-link-checker
    working_directory: ~/klaytn-docs
    steps:
      - checkout
      - run: ~/go/bin/liche -r ~/klaytn-docs -x "^http.*" --document-root ~/klaytn-docs/docs

  sync_l10n:
    docker:
      - image: buildpack-deps
    steps:
      - checkout
      - add_ssh_keys
      - run: |
          git config user.email "$MERGE_AUTHOR_EMAIL"
          git config user.name "$MERGE_AUTHOR_NAME"
      - run: .circleci/subtree-merge.sh ko $L10N_KO_REPO dev
      - run: .circleci/subtree-merge.sh vi $L10N_VN_REPO dev

workflows:
  version: 2
  job_check_link:
    jobs:
      - check_link

  sync_l10n:
    jobs:
      - sync_l10n:
          filters:
            branches:
              only:
                - l10n
