:root {
  --link-color-light: #cb0606f8;
  --link-color-dark: #e1573b;
  --link-hover-color-light: darkred;
  --link-hover-color-dark: #cb3c20;
}

html[data-theme='light'] .link {
  color: var(--link-color-light);
}

html[data-theme='dark'] .link {
  color: var(--link-color-dark);
}

.link {
  text-decoration: underline dotted;
  cursor: help;
}

html[data-theme='light'] .link:hover {
  text-decoration: underline dotted var(--link-hover-color-light);
  color: var(--link-hover-color-light);
}

html[data-theme='dark'] .link:hover {
  text-decoration: underline dotted var(--link-hover-color-dark);
  color: var(--link-hover-color-dark);
}